data/raw
data/processed

*.pth

__pycache__/
*.py[cod]

.env
.venv/
venv/

logs/

.ipynb_checkpoints

.DS_Store
Thumbs.db

.vscode/
.idea/

*.tmp
*.swp
*.pt
*.npy
/models/

# LaTeX auxiliary files
*.aux
*.log
*.out
*.toc
*.lof
*.lot
*.fls
*.fdb_latexmk

# Model checkpoints
src/models/checkpoints/

# Jupyter Notebook checkpoints
notebooks/.ipynb_checkpoints/

reports/